<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @play.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @play.description %>
</p>

<p>
  <strong>Place:</strong>
  <%= @play.place %>
</p>

<p>
  <strong>Price:</strong>
  <%= @play.price %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @play.photo %>
</p>

<p>
  <strong>Teather:</strong>
  <%= @play.teather_id %>
</p>

<%= link_to 'Edit', edit_play_path(@play) %> |
<%= link_to 'Back', plays_path %>
