<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @teather.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @teather.address %>
</p>

<p>
  <strong>Manager:</strong>
  <%= @teather.manager %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @teather.mobile %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @teather.phone %>
</p>

<p>
  <strong>Web site:</strong>
  <%= @teather.web_site %>
</p>

<p>
  <strong>Logo:</strong>
  <%= @teather.logo %>
</p>

<p>
  <strong>Description:</strong>
  <%= @teather.description %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @teather.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @teather.longitude %>
</p>

<%= link_to 'Edit', edit_teather_path(@teather) %> |
<%= link_to 'Back', teathers_path %>
